{% extends "base.html"%}

{% block title %} Главная {% endblock %}



{% block content %}
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('/static/images/bg_1.jpg');" data-stellar-background-ratio="0.5" id="bg2701">




        <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Найдите себе машину в Германии</h1>
                    <p style="font-size: 18px;">Сравните сколько стоят аналогичные машины в России и Германии и найдите для себя оптимальный вариант По данным сайтов {{site_r}} и {{site_eur}}</p>
                    <form action="{% url 'cars:search' %}">
                        <button class="mybutton" > Начать поиск </button>
                    </form>


                </div>
            </div>
           </div>
         </div>
        </div>
    </div>

      <script>


      </script>

{% endblock %}



