.new {
margin-top:100px
}

.topnew {
vertical-align:top
}

.bborder {
border:1px solid blue;
}

.bborder1 {
border-width:1px;
border-color:black;
border-style:solid;
}

.mybutton{
background: yellow;
color: blue;
border-radius: 15px;
}

.ttt{
color: yellow;
font-size: 18px;
}

.ttt1{
color: rgb(0,255,0);
font-size: 18px;
}

.ttt2{
color: white ;
font-size: 22px;

}

.thnew{
border:1px solid grey;
text-align:center;
vertical-align:center;
}

.newmargin{
margin-left:10px
}

.privet{
margin-left:80px;
color:orange;
margin-top:15px;
}
